.nav-link {
	color: #0092dd !IMPORTANT;
    font-family: Novecentowide;
    font-size: 1rem;
} 
.donar{
	color: #EA6D4F !IMPORTANT;
    font-weight: bold;
    font-family: Novecentowide;
}

@font-face {
  font-family: Novecentowide;
  src: url('/fonts/Novecentowide-Normal.otf');
  font-weight: normal;
}

@font-face {
  font-family: Novecentowide;
  src: url('/fonts/Novecentowide-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}


body {
    font-family: 'Novecentowide', sans-serif;
}

a.footer, p.footer {
	color: white;
 	font-family: Roboto; 
	font-size: 0.7em;
}
