.nav-link {
    font-family: Montserrat;
    font-size: 1rem;
} 
.donar{
	  color: #EA6D4F !IMPORTANT;
    font-weight: bold;
    font-family: Novecentowide;
}

@font-face {
  font-family: Novecentowide;
  src: url('https://www.techo.org/examples/css/fonts/Novecentowide-Normal.otf');
  font-weight: normal;
}

@font-face {
  font-family: Novecentowide;
  src: url('https://www.techo.org/examples/css/fonts/Novecentowide-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url('https://www.techo.org/examples/css/fonts/Roboto-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url('https://www.techo.org/examples/css/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}


body {
    font-family: 'Novecentowide', sans-serif;
}

a.footer, p.footer {
	color: white;
  font-weight: normal;
 	font-family: Montserrat; 
	font-size: 0.7em;
}
